{{template "base" .}}
{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is the about page</h1>
            <h3>This came from template: {{index .StringMap "test"}}</h3>

            <p>
                {{if ne (index .StringMap "remote_ip") ""}}
                    Your remote IP address is {{index .StringMap "remote_ip"}}
                {{else}}
                    I dont know your IP, visit <a href="/">home</a> so I can see it
                {{end}}
            </p>
        </div>
    </div>
</div>
{{end}}